<h1>Article #<%= @article.id %></h1>

<p><strong>Title : <%= @article.title %></strong></p>

<p><strong>Body : <%= @article.body %></strong></p>

<div> 
    <%= link_to "<< Back to Aricles List", articles_path %> 
    <%= link_to "delete", article_path(@article),method: :delete,data:{confirm:'You sure?'} %> 
</div>