<h1>Article #<%= @article.id %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p><strong>Title : <%= @article.title %></strong></p>

<p><% if @article.image.exists? %>
      <%= image_tag @article.image.url %><br/>
  <% end %></p>

<p><strong>Body : <%= @article.body %></strong></p>

<div>
    <h3>Comments <%= @article.comments.size %></h3>
    <%# ??? %>
    <%= render partial: 'articles/comment', collection: @article.comments %>
</div>
<div>
<%= render partial: 'comments/form' %>
</div>
<div> 
    <%= link_to "<< Back to Aricles List", articles_path %> 
    <%= link_to "delete", article_path(@article),method: :delete,data:{confirm:'You sure?'} %> 
</div>